<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Root Config</title>

  <script type="importmap">
  {
    "imports": {
      "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/esm/single-spa.min.js",
      "single-spa-layout": "https://cdn.jsdelivr.net/npm/single-spa-layout@2.0.1/dist/esm/single-spa-layout.min.js",
      "@bci/root-config": "http://localhost:9000/bci-root-config.js",
      "bci-dashboard-mf": "http://localhost:5173/src/spa.tsx"
    }
  }
</script>


</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <main></main>

  <script type="module">
    import "@bci/root-config";
  </script>

</body>
</html>
